.navbar{
  margin-bottom: 0;
}

.btn{
  color: #ffffff;
  background-color: #1883ba;
}

.btn:hover{
      color: #1883ba;
      background-color: #ffffff;
    }

footer{
      background-color: #090609;
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 15%;
      margin-bottom: 0;
    }

    .game {
      margin: 10px;

    }
